<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/modal.css" />
    <link rel="stylesheet" href="static/pickup.css" />
    <link rel="icon" href="static/logo.png" />
   
    <title>Schedule A Pickup</title>
    <style>
      body {
      
      background-size: cover;
      background-position: center;
    }
    .container-grey {
      background-color: #333333; /* Dark grey color */
      
    }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Schedule a Pickup</h1>
      <p class="para"></p>
        <br>
        <h2>
        Send a pickup request now, and we will be there to help you!
        </h2>
      </p>
      
      <form class="schedule-pickup-form" action="/takepickup" method="POST">
        <h2>Personal Details</h2>
        <label for="name">Your Name</label><br>
        <input class="name" type="text" name="name" placeholder="Your Name" required="required"><br>
      
        <label for="email">Your Email</label><br>
        <input class="email" type="email" name="email" placeholder="Your Email" required="required"><br>
      
        <label for="phone">Your Phone number</label><br>
        <input class="phone" type="text" name="phone" placeholder="Your Phone number" required="required"><br>
      
        <h2>Pickup Details</h2>
        <label for="waste-type">Waste Type</label><br>
      <select class="waste-type" name="waste-type" required="required">
      <option value="">Select Waste Type</option>
      <option value="Liquid Waste">Liquid Waste</option>
      <option value="Solid Waste">Solid Waste</option>
      <option value="Organic Waste">Organic Waste</option>
      <option value="Recyclable Waste">Recyclable Waste</option>
      <option value="Hazardous Waste">Hazardous Waste</option>
      <option value="Industrial Waste">Industrial Waste</option>
      </select><br>

      <label for="quantity">Quantity (max 10kg)</label><br>
      <input class="quantity" type="number" name="quantity" min="0" max="10" step="0.1" placeholder="Quantity in kg" required="required">
   


        <label for="date_pickup">Date for pickup</label><br>
        <input class="date_pickup" type="date" name="date_pickup" required="required"><br>
      
        <label for="address_pickup">Address for Pickup</label><br>
        <textarea class="address_pickup" name="address_pickup" id="address_pickup" cols="30" rows="3" placeholder="Your Address" required="required"></textarea><br>
      
        <button type="submit">Submit</button>
      </form><br></section>
      
        <div class="container-grey">
          <div class="eco_footer_columns">
            <div id="text-3" class="col-md-3 col-sm-6 responsive-devider-50 widget_text"style="padding-left: 20px">
              <div class="widget kode-widget list-style-1">
                <br>
                <h5 class="widget-title eco_sm_titles">Eco-Defenders Waste Management </h5>
                <br>
                <div class="clear"></div>
                <div class="textwidget">
                  <p>Eco-Defenders Waste Management is committed to cleaning India by tackling domestic waste. We are dedicated to clearing the clutter and raising awareness about the importance of proper waste disposal. Our mission is to create a cleaner, greener India, one household at a time.</p>
                 
                </div>
              </div>
            </div>
        
            <div id="custom_html-5" class="col-md-3 col-sm-6 responsive-devider-50 widget_custom_html" style="padding-left: 200px">
              <div class="widget_text widget kode-widget list-style-1">
                <div class="textwidget custom-html-widget">
                  <div class="footer_itm widget_nav_menu">
                    <br>
                    <h5 class="widget-title eco_sm_titles">Our Company</h5>
                    <div class="clear"></div>
                    <div class="menu-footer-menu-container">
                      <br>
                      <ul class="menu">
                        <li><a href="http://localhost:5500/" aria-current="page">Home</a></li>
                        <li><a href="http://localhost:5500/about.html#about">About Us</a></li>
                        
                        <li><a href="http://localhost:5500/#contact">Contact Us</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
            <div id="custom_html-7" class="col-md-3 col-sm-6 responsive-devider-50 widget_custom_html"style="padding-left: 200px">
              <div class="widget_text widget kode-widget list-style-1">
                <div class="textwidget custom-html-widget">
                  <div class="footer_itm">
                    <div class="widget-social">
                      <br>
                      <h5 class="widget-title eco_sm_titles">Follow us on</h5>
                      <div class="clear"></div>
                      <br>
                      <div class="social-icons">
                        <a href="https://www.facebook.com/eco.defenders.2024?sfnsn=wiwspwa&mibextid=RUbZ1f"
                          ><img src="static/fbwhite.png" alt="Facebook"
                        /></a>
                        <a href="https://www.instagram.com/eco_defenders11/"
                          ><img src="static/whiteinsta.png" alt="Instagram"
                        /></a>
                        <a href="https://www.youtube.com/@ECODefenders"
                          ><img src="static/yt.png" alt="youtube"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         
        </div>
        

     
            
         
    
    <script>
      document.querySelector('.waste-type').addEventListener('change', function() {
        const quantityInput = document.querySelector('.quantity');
        if (this.value === 'Industrial Waste') {
          quantityInput.max = 20;
        } else {
          quantityInput.max = 10;
        }
      });
      
        document.querySelector('.schedule-pickup-form').addEventListener('', function(event) {
       event.preventDefault();
          const waste = {};
      
          waste.personalDetails = {};
          waste.pickupDetails = {};
      
          waste.personalDetails.name = document.querySelector('.name').value;
          waste.personalDetails.email = document.querySelector('.email').value;
          waste.personalDetails.phone = document.querySelector('.phone').value;
      
          waste.pickupDetails.wasteType = document.querySelector('.waste-type').value;
          waste.pickupDetails.quantity = document.querySelector('.quantity').value;
          waste.pickupDetails.date_pickup = document.querySelector('.date_pickup').value;
          waste.pickupDetails.time_pickup = document.querySelector('.time_pickup').value;
          waste.pickupDetails.address_pickup = document.querySelector('.address_pickup').value;
      
          console.log(waste);
        });
      
    </script>
    <footer>&copy; 2024 Eco Defenders - All rights reserved</footer>

     </body>
</html>
